/*	temp reset while old css is still around */

.super_table, .super_table td, .super_table tr, .super_table th, .super_table table, .super_table div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: initial;
	background: initial;
}

.super_table table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*	stuff! */



.super_table {
	border: 1px solid rgba(0,0,0,0.03);

	position:relative;
}

.super_table .content {
	position:absolute;
	left:0; right:10px; top:0; bottom:10px;
	z-index:1;
}

.super_table .config_box {
	position:absolute;
	right:0; bottom:0;
}

/*	stat box stuff */

.super_table .stat_right, .super_table .stat_bottom {
	position:absolute;
	background-color:rgba(0,0,0,0.1);
}

.super_table .stat_right {
	right:0; top:0;
}

.super_table .stat_bottom {
	bottom:0; left:0;
}

/*	resize stuff */

.super_table .bottom_sizer {
	bottom:0; left:0; right:10px;
	height:10px;
	cursor:ns-resize;
}

.super_table .right_sizer {	
	right:0; top:0; bottom:10px;
	width:10px;
	cursor:ew-resize;
}

.super_table .bottom_right_sizer {
	bottom:0; right:0px;
	height:30px;
	width:30px;
	cursor:nwse-resize;
	z-index:2;
}

.super_table .right_sizer, .super_table .bottom_sizer, .super_table .bottom_right_sizer {
	position:absolute;
	transition:background-color 0.2s;
	background-color:rgba(0,0,0,0.03);
}

.super_table .bottom_sizer:hover, .super_table .right_sizer:hover, .super_table .bottom_right_sizer:hover {
	background-color:rgba(0,0,0,0.1);
}