#edit-ed-field-category div#edit-ed-field-category-und{
  display: none;
}

#edit-ed-field-competence div#edit-ed-field-competence-und{
  display: none;
}


div[class^="form-item form-type-checkbox-tree form-item-ed-field-category"] label:first-child{
    padding-right: 25px;
    background: url('images/menu_icon_small.png') no-repeat top right;
     
    display: inline-block;
}
div[class^="form-item form-type-checkbox-tree form-item-ed-field-competence"] label:first-child{
    padding-right: 25px;
    background: url('images/menu_icon_small.png') no-repeat top right;
     
    display: inline-block;
}

.filter-wrapper{
    display: none;
}

.ed-node-actions-container .ed-node-delete-button {
	color: red;
}

.ed-front-page-notice-container{
    width:100%;
}

.ed-front-page-notice{
    background-color: #ECC681;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
