#edit-ed-field-category div#edit-ed-field-category-und{
  display: none;
}

#edit-ed-field-competence div#edit-ed-field-competence-und{
  display: none;
}


div[class^="form-item form-type-checkbox-tree form-item-ed-field-category"] label:first-child{
    padding-right: 25px;
    background: url('images/menu_icon_small.png') no-repeat top right;
     
    display: inline-block;
}
div[class^="form-item form-type-checkbox-tree form-item-ed-field-competence"] label:first-child{
    padding-right: 25px;
    background: url('images/menu_icon_small.png') no-repeat top right;
     
    display: inline-block;
}

.filter-wrapper{
    display: none;
}

.ed-node-actions-container .ed-node-delete-button {
	color: red;
}

.ed-front-page-notice-container{
    width:100%;
}

.ed-front-page-notice{
    background-color: #ECC681;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.ed_sort_select {
    display: inline-block;
    width: calc(100% - 120px);
    vertical-align: top;
}

.ed_sort_submit {
    display: inline-block;
    width: 120px;
}

.ed_sort_submit button {
    float: right;
}

.ed_filter_button button {
	float: right;
}

.ed_filter_select {
	display: inline-block;
	width: calc(100% - 120px);
	vertical-align: top;
}

.ed_filter_button {
	display: inline-block;
	width: 120px;
}