/*
 * @file
 * CSS for ajax_example.
 *
 * See @link ajax_example_dependent_dropdown_degrades @endlink for
 * details on what this file does. It is not used in any other example.
 */

/* Hides the next button when not degrading to non-javascript browser */
html.js .next-button {
  display: none;
}
/*
div#category-wrapper {
  float:right;
}
div#category-wrapper-submit{
  float:right;
}*/


/* Makes the next/choose button align to the right of the select control */
.form-item-dropdown-first, .form-item-content-sort-select {
  display: inline-block;
}

/*
.form-item-category {
  display: inline-block;
  //width: 50%;
  display:none;
}*/
