.taxonomy_item {
	display:inline-block;
}

.taxonomy_item select {
	margin-right:5px;
}

.taxonomy_item[data-root] {
	display:block;
}

.edf_mini_button {
	display:inline-block;
	border-radius:100px;
	width:22px;
	height:22px;
	vertical-align: middle;
	text-align: center;
	margin:5px;
	box-sizing:border-box;
	cursor:pointer;
	color:white;
}

.edf_mini_button .fa {
	color: #1abc9c;
}

.edf_mini_button .fa.fa-times-circle {
	color: red;
}

.edf_mini_button .fa:hover {
	opacity: 0.75;
}

.node_list_editor .taxonomy_list {
	box-sizing:border-box;
	border: 2px solid #dce4ec;
	border-radius:6px;
	margin-bottom:10px;
	padding:6px;
	width:100%;
}

.node_list_editor .form {
	position:relative;
	width:100%;
	overflow:hidden;
}

.node_list_editor .button {
	color:rgb(169,185,186);
	cursor:pointer;
	border: 2px solid #dce4ec;
	padding:5px;
	border-radius:8px;
	display:inline-block;
}

.node_list_editor .tabber .add.tab:hover {
  color: #1abc9c;
  transition: 0.5s all;
}

.node_list_editor .delete {
	position:absolute;
	right:0;
	top:0;
}

.node_list_editor .delete:hover {
  color: #e07572;
  border: 2px solid #e07572;
  transition: 0.5s all;
}

.node_list_editor .taxonomy_list .title {
	color:rgb(169,185,186);
}

.node_list_editor .text_area textarea {
	box-sizing:border-box;
	max-width:100%;
	min-width:100%;
}

.node_list_editor .text input {
	border: 2px solid #dce4ec;
	border-radius:6px;
	margin-bottom:10px;
	padding:6px;
	color:#95a5a6;
}

.node_list_editor .tabber {
	width:100%;
	border-bottom: 2px solid #dce4ec;
	margin-bottom:10px;
}

.node_list_editor .tabber .tab {
	display:inline-block;
	color:rgb(169,185,186);
	cursor:pointer;
	border: 2px solid #dce4ec;
	padding:5px;
	border-radius:4px 4px 0 0;
	margin-bottom:-2px;
	background-color:white;
}

.node_list_editor .tabber .tab[data-active] {
	border-bottom:2px solid white;
}

.node_list_editor .tabber .tab:hover {

}

.node_list_editor .form {
	transition:max-height 0.2s;
}

.node_list_editor[data-empty] .form {
	max-height:0;
}

.node_list_editor .form .taxonomy_list .taxonomies .term-reference-tree-level .parent-term {
  cursor: pointer;
  font-weight: bold;
}

.node_list_editor .form .taxonomy_list .taxonomies .term-reference-tree-level {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.node_list_editor .form .taxonomy_list .taxonomies .term-reference-tree-level label {
  font-weight: normal;
}

.node_list_editor .form .taxonomy_list .taxonomies .term-reference-tree-level label input[type="checkbox"] {
  margin-right: 0.25em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}


