.answered{
    background-color: #63b463;
}
.answered a {
	display: block;
	text-decoration: none;
}
.answered a:hover {
	text-decoration: none;
}
.unanswered{
    color: red;
}
.can-not-be-answered {
	background-color: #666;
}

.rejected{
    background-color:  #e96030;
}
.unchecked{
    background-color: #fbc638;
}

.rejected a {
	display: block;
	text-decoration: none;
}
.rejected a:hover {
	text-decoration: none;
}
.unchecked{
    
}
.unchecked a {
	display: block;
	text-decoration: none;
}
.unchecked a:hover {
	text-decoration: none;
}

.accepted{
    background-color: #63b463;
}
.accpeted a {
	display: block;
	text-decoration: none;
}
.accepted a:hover {
	text-decoration: none;
}

.ed_filter_tasks {
    margin-top: 52px;
	margin-bottom: 15px !important;
}