.answered{
    background-color: #1abc9c;
}
.answered a {
	display: block;
	text-decoration: none;
	color: white;
}
.answered a:hover {
	text-decoration: none;
	color: white;
}
.na{
	background-color: #d7d7d7;
}

.rejected{
    background-color:  #e96030;
}
.unchecked{
    background-color: #fbc638;
}

.rejected a {
	display: block;
	text-decoration: none;
	color: #303638;
}
.rejected a:hover {
	text-decoration: none;
	color: #303638;
}
.unchecked a {
	display: block;
	text-decoration: none;
	color: #303638;
}
.unchecked a:hover {
	text-decoration: none;
	color: #303638;
}

.accepted{
    background-color: #1abc9c;
}
.accpeted a {
	display: block;
	text-decoration: none;
	color: white;
}
.accepted a:hover {
	text-decoration: none;
}

.checked {
    background-color: #84bfeb;
	color: white;
}

.checked a {
    display: block;
    text-decoration: none;
	color: white;
}

.checked a:hover {
    text-decoration: none;
	color: white;
}

.ed_filter_tasks {
    margin-top: 52px;
	margin-bottom: 10px !important;
	margin-left: 15px;
}
